Repository nlamirault/terraform-aws-observability, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/terraform, kind/documentation

.github/labeler.yml:

# SPDX-FileCopyrightText: Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
# SPDX-License-Identifier: Apache-2.0

---
# Labels for action/labeler

######################################
# Label area/xxx

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

area/terraform:
- changed-files:
  - any-glob-to-any-file: adot/*.tf
- changed-files:
  - any-glob-to-any-file: amg/*.tf
- changed-files:
  - any-glob-to-any-file: amp/*.tf
- changed-files:
  - any-glob-to-any-file: cloudwatch/*.tf
- changed-files:
  - any-glob-to-any-file: grafana/*.tf
- changed-files:
  - any-glob-to-any-file: loki/*.tf
- changed-files:
  - any-glob-to-any-file: mimir/*.tf
- changed-files:
  - any-glob-to-any-file: mimir/*.tf
- changed-files:
  - any-glob-to-any-file: prometheus/*.tf
- changed-files:
  - any-glob-to-any-file: tempo/*.tf

######################################
# Label kind/xxx

kind/documentation:
- changed-files:
  - any-glob-to-any-file: README.md
- changed-files:
  - any-glob-to-any-file: "**/*.md"

feat: Terraform ci
  .github/workflows/terraform.yml
Labels: area/github

fix: setup Terraform
  .github/workflows/terraform.yml
  .github/workflows/tfsec.yml
Labels: area/github

fix: typo in Cloudwatch module
  Makefile
  modules/cloudwatch/log.tf
Labels: none

fix: modules directory
  .github/workflows/terraform.yml
Labels: area/github

feat: OCI support for Terraform modules
  .github/workflows/oci.yaml
Labels: area/github

fix: github action details
  .github/workflows/oci.yaml
Labels: area/github

fix: github action permissions
  .github/workflows/oci.yaml
Labels: area/github

doc: SLSA3
  .github/workflows/oci.yaml
  README.md
Labels: area/github, kind/documentation

fix: Github repository
  .github/workflows/oci.yaml
Labels: area/github

doc: update SLSA3
  README.md
Labels: kind/documentation

feat: Oras annotations for OCI image
  .github/workflows/oci.yaml
Labels: area/github

feat: Oras and OCI labels
  .github/workflows/oci.yaml
Labels: area/github

feat: Oras and OCI labels again
  .github/workflows/oci.yaml
Labels: area/github

feat: cleanup
  .github/workflows/oci.yaml
Labels: area/github

doc: update SLSA3
  README.md
Labels: kind/documentation

doc: update SLSA3
  README.md
Labels: kind/documentation

feat(scorecard): new Github Action
  .github/workflows/ossf.yml
Labels: area/github

feat(github): Github Actions naming files
  .github/workflows/terraform-build.yml
  .github/workflows/terraform-oci.yaml
  .github/workflows/terraform-tfsec.yml
Labels: area/github

feat: Github Actions for Terraform
  .github/workflows/terraform-deps.yaml
  .github/workflows/terraform-security.yml
  .github/workflows/terraform-tfsec.yml
Labels: area/github

feat: upload deps
  .github/workflows/terraform-deps.yaml
Labels: area/github

fix: trivy scanning
  .github/workflows/terraform-deps.yaml
  .github/workflows/terraform-security.yml
Labels: area/github

fix: cleanup
  .github/workflows/terraform-security.yml
Labels: area/github

fix: github actions deps and security
  .github/workflows/terraform-deps.yaml
  .github/workflows/terraform-security.yml
Labels: area/github

feat: S3 server side encryption
  modules/loki/bucket.tf
  modules/mimir/bucket.tf
  modules/tempo/bucket.tf
Labels: none

fix: bucket key
  modules/loki/bucket.tf
  modules/mimir/bucket.tf
  modules/tempo/bucket.tf
Labels: none

feat: ignore s3 logging
  modules/loki/bucket.tf
  modules/mimir/bucket.tf
  modules/tempo/bucket.tf
Labels: none

feat: ignore s3 kms user key
  modules/loki/bucket.tf
  modules/mimir/bucket.tf
  modules/tempo/bucket.tf
Labels: none

feat: ignore s3 kms user key
  modules/loki/bucket.tf
  modules/mimir/bucket.tf
  modules/tempo/bucket.tf
Labels: none

feat: github actions cleanup
  .github/workflows/draft-labels.yml
  .github/workflows/terraform-oci.yaml
  README.md
Labels: area/github, kind/documentation
